* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
}
.explanation {
  position: absolute;
  display: none;
  padding: 4px;
  border: 1px solid #000;
  z-index: 1000;
}
.arrow {
  border-left: 1px solid gray;
  position: absolute;
}
.mb-5 {
  margin-bottom: 100px;
}
